<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Social Network</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>controller.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CanaleServlet</servlet-name>
    <servlet-class>controller.CanaleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanaleServlet</servlet-name>
    <url-pattern>/canale</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendEmail</servlet-name>
    <servlet-class>controller.SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendEmail</servlet-name>
    <url-pattern>/sendEmail</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GruppoServlet</servlet-name>
    <servlet-class>controller.GruppoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GruppoServlet</servlet-name>
    <url-pattern>/gruppo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UtenteServlet</servlet-name>
    <servlet-class>controller.UtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtenteServlet</servlet-name>
    <url-pattern>/utente</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>controller.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/resetPassword</url-pattern>
  </servlet-mapping>
  
</web-app>