@media screen and (max-width : 767px) {
	#barraCanali, #chatGruppo{
		display:none;
		float:none !important;
		width:100% !important;
	}
	#writeMex{
		width: 100% !important;
		bottom: 10px;
	}
	#switchPanel{
		display:block !important;
	}
	.post{
		left:10% !important;
		width:70% !important;
	}
}

@media screen and (min-width : 767px) {
	#barraCanali, #chatGruppo, #homePost{
		display:block !important;
	}
	#switchPanel{
		display:none !important;
	}
}

#switchPanel{
	position:fixed;
	top:60px;
	left:10px;
	display:none;
}